%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"} WebSiteName
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "#"} Home
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Page 1
          %span.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#"} Page 1-1
          %li
            %a{:href => "#"} Page 1-2
          %li
            %a{:href => "#"} Page 1-3
      %li
        %a{:href => "#"} Page 2
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "#"}
          %span.glyphicon.glyphicon-user
          Sign Up
      %li
        %a{:href => "#"}
          %span.glyphicon.glyphicon-log-in
          Login

.wrapper.fadeInDown
  #formContent
    .fadeIn.first
      %h1 Register Your School
    %form
      %input#school_name.fadeIn.second{:school_name => "school_name", :placeholder => "School Name", :type => "text"}/
      %input#contact_person_name.fadeIn.second{:contact_person_name => "contact_person_name", :placeholder => "Contact Person Name", :type => "text"}/
      %input#contact_email.fadeIn.third{:contact_email => "contact_email", :placeholder => "Contact Email", :type => "text"}/
      %input#contactNo.fadeIn.third{:contact_no => "contact_no", :placeholder => "Contact No", :type => "text", min: "0"}/
      %input.fadeIn.fourth{:type => "submit", :value => "Register"}/
          