$("#student-details").html("#{escape_javascript(render partial: 'index', locals: {admissions: @admissions}) }");
$("#msg-show").html("<div class='alert alert-success' role='alert'>Admission has been deleted successfully.</div>");