%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"}
        - if user_signed_in?
          = current_user.school.school_name.upcase
        - else
          NIKSMS 
    %ul.nav.navbar-nav.navbar-right
      -if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.glyphicon.glyphicon-user
            = current_user.first_name
            %b.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"}
                %i.glyphicon.glyphicon-user
                &nbsp;
                My Profile
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.glyphicon.glyphicon-off
                &nbsp;
                Logout

:javascript
  $('ul.nav li.dropdown').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
  }, function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
  });