%nav.navbar.navbar-inverse.sidebar{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-sidebar-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} NIKSMS
    / Collect the nav links, forms, and other content for toggling
    #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"}
            Home
            %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home{:style => "font-size:16px;"}
        - unless current_user.has_role? :admin       
          %li.active
            %a{:href => "#"}
              Manage Students  
              %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-lock{:style => "font-size:16px;"}
        - if current_user.has_role? :admin 
          %li
            = link_to users_path, method: :get do
              %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user{:style => "font-size:16px;"}
              Manage Users     
          %li
            = link_to school_classes_path, method: :get do
              %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-star{:style => "font-size:16px;"}
              Manage Classes
          %li
            = link_to batches_path, method: :get do
              %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-th{:style => "font-size:16px;"}
              Manage Batches
          %li
            = link_to exams_path, method: :get do
              %span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-th{:style => "font-size:16px;"}
              Manage Exams       